<% include adminHeader.html %>
		<div class = 'content-sort'>
			<div class = 'content-sort-change'>-->  Index 页面设置</div>
			<div class = 'content-publish'>
				<a href = '/admin/adminIndex/content/addArtical'><span>添加文章</span></a>
			</div>
		</div>
		<div class = 'content-content'>
			<ul class = 'content-title'>
				<li>
					<span>用户名</span>
				</li>
				<li>
					<span>用户密码</span>
				</li>
				<li>
					<span>用户分组</span>
				</li>
				
				<li>
					<span>登录IP</span>
				</li>
				<li>
					<span>登录日期</span>
				</li>
				<li>
					<span>操作</span>
				</li>
			</ul>
			<ul class = 'content-title'>
				<% for (i = 0;i < info.length; i++){ %>
					<li><span><%= info[i].user %></span></li>
					<li><span><%= info[i].password %></span></li>
					<li><span><%= info[i].flag %></span></li>
					<li><span><%= info[i].ip %></span></li>
					<li><span><%= info[i].time %></span></li>
					<li>
						<a href = '/admin/adminIndex/dealRightMenuList/art/1/?delete=true&id='>
							<img src = '/uploadImg/delete.png' class = 'img-ico'>
						</a>
						<img src = '/uploadImg/editor.png' class = 'img-ico' data-img = 'upload' data-id = '' data-flag = ''>
					</li>
				<% } %>
			</ul>
		</div>

<% include adminFooter.html %>