<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/artical.css'>
	<script src = '/javascript/require.js' data-main = '/javascript/artical/artical.main'></script>
</head>
                     
<body>
	<div class = 'body'>
		<div class = 'header'>
			<div class = 'logo-area'>
				<div class = 'logo-font'>
					<span><%= data.config[0].blog_name %></span>
					<div class = 'logo-small-font'>
						<span><%= data.config[0].blog_sign %></span>
					</div>
				</div>
			</div>

			<div class = 'menu-top'>
				<ul class = 'menu-list'>
					<li>
						<span><%= data.menu[0].menu_name %></span>
						<span class = 'menu-draw'></span>
					</li>
					<li><%= data.menu[1].menu_name %></li>
					<li><%= data.menu[2].menu_name %></li>
				</ul>
			</div>
		</div>

		<div class = 'content'>
			<div class = 'content-artical'>
				<div class = 'content-artical-artical'>
					<div class = 'content-artical-header'>
						<span class = 'content-artical-header-title'><%= data.artical[0].title %></span>
						<div>
							<span class = 'content-artical-header-meg'>
								2015-3-6 · 0 条评论 · 清源
							</span>
						</div>
					</div>
					<div class = 'content-artical-content'>
						<%= data.artical[0].content %>
					</div>

					<div class = 'content-artical-public'>
						<p class = 'content-artical-public-title'>推荐文章</p>
						<div class = 'content-artical-public-content'>
							<ul>
								<% for (var i = 0; i < data.pubArtical.length; i++) { %>
									<li><a href = '#'><%= data.pubArtical[i].title %></a></li>
								<% } %>
							</ul>
						</div>
					</div>

					<div class = 'division-line'></div>

					<div class = 'content-artical-replay'>
						<% for (var i = 0; i < data.comment.length; i++){ %>
							<% if (data.comment[i].id != -1){ %>
							<div class = 'content-artical-replay-block'>
								<div class = 'content-artical-replay-img-all'>
									<img src = '/uploadImg/1.jpg' class = 'content-artical-replay-img'>
									<p>&nbsp;Reply</p>
								</div>
								<div class = 'content-artical-replay-where'></div>

								<div class = 'content-artical-replay-content'>
									<p class = 'content-artical-replay-content-time'>2015-3-10 12:35</p>
									<p class = 'content-artical-replay-content-title'>小叶子</p>
									<p class = 'content-artical-replay-content-content'>一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。
									</p>

									<p class = 'content-artical-replay-replay'>
										回复
									</p>

									<% while (data.comment[i].rep.length > 0){ %>
										<div class = 'content-artical-replay-ch'>
											<img src = '/uploadImg/1.jpg' class ='content-artical-replay-img'>
											<p>&nbsp;Reply</p>
											<div class = 'content-artical-replay-ch-content'>
												<p class = 'content-artical-replay-ch-title'>毛蛋子</p>
												<p class = 'content-artical-replay-content-ch-time'>
													2015-3-10 12:35
												</p>
												<p class = 'content-artical-replay-content-content'>一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。
												</p>
												<p class = 'content-artical-replay-replay'>回复</p>
											</div>
										</div>
										<script>console.log(1)</script>
										<% data.comment[i] = data.comment[i].rep[0][0] %>
									<% } %>
								</div>
							</div>		
							<% } %>
						<% } %>
						

						<!-- <div class = 'content-artical-replay-block'>
							<div class = 'content-artical-replay-img-all'>
								<img src = '/uploadImg/1.jpg' class = 'content-artical-replay-img'>
								<p>&nbsp;Reply</p>
							</div>
							<div class = 'content-artical-replay-where'></div>

							<div class = 'content-artical-replay-content'>
								<p class = 'content-artical-replay-content-time'>2015-3-10 12:35</p>
								<p class = 'content-artical-replay-content-title'>小叶子</p>
								<p class = 'content-artical-replay-content-content'>一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。
								</p>

								<p class = 'content-artical-replay-replay' id = '6'>
									回复
								</p>
								
						
								<div class = 'content-artical-replay-ch'>
									<img src = '/uploadImg/1.jpg' class ='content-artical-replay-img'>
									<p>&nbsp;Reply</p>
									<div class = 'content-artical-replay-ch-content'>
										<p class = 'content-artical-replay-ch-title'>毛蛋子</p>
										<p class = 'content-artical-replay-content-ch-time'>
											2015-3-10 12:35
										</p>
										<p class = 'content-artical-replay-content-content'>一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。
										</p>
										<p class = 'content-artical-replay-replay'>回复</p>
									</div>
								</div>

							</div>
						</div> -->
					</div>


					<div class = 'division-line'></div>

					<div class = 'content-artical-comment'>
						<div class = 'content-artical-comment-content'>
							<span class = 'content-artical-comment-title'>Leave a Reply</span>
							<form action = '' method = 'POST'>
								<a name = 'addReplay'></a>
								<div class = 'content-artical-btn-group'>
									<label for = 'author'>
										Author:
									</label> 
									<input type = 'text' id = 'author' class = 'input' name = 'author'>
								</div>
								<div class = 'content-artical-btn-group'>
									<label for = 'email'>
										Email:  
									</label>&nbsp;
									<input type = 'text' id = 'email' class = 'input' name = 'email'>
								</div>
								<textarea class = 'content-artical-textarea' name = 'content'></textarea>
								<input type = 'submit' value = 'submit' class = 'submit'>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class = 'right-bar'>
				<div class = 'right-bar-img'>
					<div class = 'right-bar-img-border'>
						<img src = '/uploadImg/2.jpg' class = 'right-bar-img-size'>
					</div>
					<P class = 'right-bar-img-introduce'>我的微信 ^ ^</P>
				</div>

				<div class = 'right-bar-content'>
					<p class = 'right-bar-content-title'>近期评论</p>

					<ul>
						<% for (var i = 0; i < data.recentlyReplay.length; i++){ %>
						<li>
							<span><%= data.recentlyReplay[i].author %></span> 发表在《<a href = '#'><%= data.recentlyReplay[i].title %></a>》
						</li>
						<% } %>
					</ul>

					<div class = 'right-bar-fun'>
						<p class = 'right-bar-content-title'>功能</p>
						<ul class = 'right-bar-content-fun'>
							<li>> 登录</li>
							<li>> Github</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>