<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/artical.css'>
	<script src = '/javascript/require.js' data-main = '/javascript/artical/artical.main'></script>
</head>
                     
<body>
	<div class = 'body'>
		<% include indexHeader.html %>

		<div class = 'content'>
			<div class = 'content-artical'>
				<div class = 'content-artical-artical'>
					<div class = 'content-artical-header'>
						<span class = 'content-artical-header-title'><%= data.artical[0].title %></span>
						<div>
							<span class = 'content-artical-header-meg'>
								<%= data.artical[0].time %> · <%= data.artical[0].count %> 条评论 · 清源
							</span>
						</div>
					</div>
					<div class = 'content-artical-content'>
						<%- data.artical[0].content %>
					</div>

					<div class = 'content-artical-public'>
						<p class = 'content-artical-public-title'>推荐文章</p>
						<div class = 'content-artical-public-content'>
							<ul>
								<% for (var i = 0; i < data.pubArtical.length; i++) { %>
									<li>
										<a href = '/artical/<%= data.pubArtical[i].time %>/<%= data.pubArtical[i].title %>'><%= data.pubArtical[i].title %></a>
									</li>
								<% } %>
							</ul>
						</div>
					</div>

					<div class = 'division-line'></div>

					<div class = 'content-artical-replay'>
						<% for (var i = 0; i < data.comment.length; i++){ %>
							<% if (data.comment[i].flag != -1){ %>
							<div class = 'content-artical-replay-block'>
								<div class = 'content-artical-replay-img-all'>
									<img src = '/uploadImg/1.jpg' class = 'content-artical-replay-img'>
									<p>&nbsp;Reply</p>
								</div>
								<div class = 'content-artical-replay-where'></div>

								<div class = 'content-artical-replay-content'>
									<p class = 'content-artical-replay-content-time'><%= data.comment[i].time %></p>
									<p class = 'content-artical-replay-content-title'><%= data.comment[i].author %></p>
									<p class = 'content-artical-replay-content-content'>
										<%= data.comment[i].content %>
									</p>

									<p class = 'content-artical-replay-replay' id = '<%= data.comment[i].id %>'>
										回复
									</p>

									<% if (data.comment[i].rep){ %>
										<% while (data.comment[i].rep.length > 0){ %>
											<% data.comment[i] = data.comment[i].rep[0][0] %>
											<div class = 'content-artical-replay-ch'>
												<img src = '/uploadImg/1.jpg' class ='content-artical-replay-img'>
												<p>&nbsp;Reply</p>
												<div class = 'content-artical-replay-ch-content'>
													<p class = 'content-artical-replay-ch-title'><%= data.comment[i].author %></p>
													<p class = 'content-artical-replay-content-ch-time'>
														<%= data.comment[i].time %>
													</p>
													<p class = 'content-artical-replay-content-content'><%= data.comment[i].content %>
													</p>
													<p class = 'content-artical-replay-replay' id = '<%= data.comment[i].id %>'>回复</p>
												</div>
											</div>
										<% } %>
									<% } %>
								</div>
							</div>		
							<% } %>
						<% } %>
					</div>


					<div class = 'division-line'></div>

					<div class = 'content-artical-comment'>
						<div class = 'content-artical-comment-content'>
							<span class = 'content-artical-comment-title'>Leave a Reply</span>
							<form action = '' method = 'POST'>
								<a name = 'addReplay'></a>
								<div class = 'content-artical-btn-group'>
									<label for = 'author'>
										Author:
									</label> 
									<input type = 'text' id = 'author' class = 'input' name = 'author'>
								</div>
								<div class = 'content-artical-btn-group'>
									<label for = 'email'>
										Email:  
									</label>&nbsp;
									<input type = 'text' id = 'email' class = 'input' name = 'email'>
								</div>
								<textarea class = 'content-artical-textarea' name = 'content'></textarea>
								<input type = 'submit' value = 'submit' class = 'submit'>
							</form>
						</div>
					</div>
				</div>
			</div>


			<div class = 'right-bar'>
				<div class = 'right-bar-img'>
					<div class = 'right-bar-img-border'>
						<img src = '/uploadImg/<%= data.config[0].blog_artical_img %>' class = 'right-bar-img-size'>
					</div>
					<P class = 'right-bar-img-introduce'>我的微信 ^ ^</P>
				</div>

				<div class = 'right-bar-content'>
					<p class = 'right-bar-content-title'>近期评论</p>

					<ul>
						<% for (var i = 0; i < data.recentlyReplay.length; i++){ %>
							<% if (data.recentlyReplay[i].title){ %>
								<li>
									<span><%= data.recentlyReplay[i].author %></span> 发表在《<a href = '#'><%= data.recentlyReplay[i].title %></a>》
								</li>
								<% } %>
						<% } %>
					</ul>

					<div class = 'right-bar-fun'>
						<p class = 'right-bar-content-title'>功能</p>
						<ul class = 'right-bar-content-fun'>
							<li>
								<a href = '<%= data.config[0].blog_address %>'>> 登录</a>
							</li>
							<li>
								<a href = '<%= data.config[0].blog_github %>'>> Github</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>

		<div class = 'footer'>
			<div>
	 			<div class = 'footer-line'></div>
	 			<div class = 'footer-font'>
	 				<ul>
	 					<li>
	 						<a href= '<%= data.config[0].blog_address %>'>源码地址</a>
	 					</li>
	 					<li><%= data.config[0].blog_rights %></li>
	 				</ul>
	 			</div>
			</div>
		</div>

	</div>
</body>